/* Button styling */
.c-button{
    width: 490px;
    height: 110px;

    border: 0;
    border-radius: 20px;

    background-color: #FE5499;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
}

.c-button:focus{
    box-shadow: none;
}

.c-button__title{
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 600;
    
    color: white;
}



/* Vertical Grid Styling */
.c-vertical-grid{
    display: grid;
    grid-template-rows: repeat(5, 80px);
    grid-row-gap: 24px;
}

.c-vertical-grid__box{
    height: 85px;
    width: 1548px;

    border-radius: 20px;

    background-color: #5B5BFF;

    display: grid;
    grid-template-columns: 180px 1189px 180px;
}