/* html{
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
} */

/* Button styling */
.c-button{
    width: 490px;
    height: 110px;

    border: 0;
    border-radius: 20px;

    background-color: #FE5499;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
}

.c-button:focus{
    box-shadow: none;
}

.c-button__title{
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 600;
    
    color: white;
}



/* Vertical Grid Styling */
.c-vertical-grid{
    display: grid;
    grid-template-rows: repeat(5, 80px);
    grid-row-gap: 24px;
}

.c-vertical-grid__box{
    height: 85px;
    max-width: 1500px;

    border-radius: 20px;

    background-color: #5B5BFF;

    display: grid;
    grid-template-columns: 180px 180px 1fr 180px;
}

.c-horizontal-grid__text{
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 36px;
    color: white;

    margin: 0;
}

.c-horizontal-grid--center{
    display: flex;
    align-items: center;
}

.c-horizontal-grid__place{
    justify-self: center;
}

.c-horizontal-grid__icon{
    justify-self: center;
}

.c-horizontal-grid__name{
    margin-left: 60px;
}

.c-horizontal-grid__score{
    justify-self: center;
}



/* Horizontal Scroll Styling */
.c-lobbychoice{
    width: 1480px;
    height: 528px;

    display: flex;

    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.c-lobbychoice__item{
    background-color: #5B5BFF;

    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);

    min-width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.c-lobbychoice__item + .c-lobbychoice__item{
    margin-left: 40px;
}

.c-lobbychoice__title{
    font-family: 'Roboto';
    font-size: 32px;
    color: white;

    text-align: center;

    margin: 0;
    margin-bottom: 48px;
}

.c-lobbychoice__players-title{
    font-family: 'Roboto';
    font-size: 28px;
    color: white;

    text-align: center;

    margin: 0;
    margin-bottom: 8px;
}

.c-lobbychoice__players-count{
    font-family: 'Roboto';
    font-size: 40px;
    color: white;

    text-align: center;

    margin: 0;
}



/* Avatar Choice Element */
.c-avatarchoice{
    display: flex;
}

.o-hide-accessible{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    box-sizing: border-box;
}

.c-avatarchoice__option + .c-avatarchoice__option{
    margin-left: 80px;
}

.c-avatarchoice__label{
    height: 256px;
    width: 256px;

    margin: 0;
}

.c-avatarchoice__radio:checked + .c-avatarchoice__label div{
    box-shadow: inset 0px 0px 0px 10px rgba(123,123,255,1);
    border-radius: 50%;

    box-sizing: border-box;
}

.c-avatarchoice__image{
    height: 256px;
    width: 256px;
}

.c-avatar0-icon{
    background-image: url('./JelleyAvatarIcon.png');
    background-size: cover;
}

.c-avatar1-icon{
    background-image: url('./StokeleyAvatarIcon.png');
    background-size: cover;
}

.c-avatar2-icon{
    background-image: url('./SpikeyIcon.png');
    background-size: cover;
}

.c-avatar3-icon{
    background-image: url('./VlamAvatarIcon.png');
    background-size: cover;
}



/* Scoreboard Popup Styling */
.c-scoreboard-popup{
    background-color: black;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.c-scoreboard-popup__box{
    width: 1400px;
    background-color: white;
    height: 760px;

    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.c-scoreboard-popup__image{
    width: 1120px;
    height: 358px;

    margin-top: -80px;
}

.c-scoreboard-popup__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-scoreboard-popup__description{
    font-family: 'Roboto';
    font-size: 32px;
    color: #707070;
}

.c-scoreboard-popup__question{
    font-family: 'Roboto';
    font-size: 36px;
    color: #707070;
}

.c-scoreboard-popup__name-input{
    width: 800px;
    height: 80px;

    background-color: #E2E2E2;

    border: none;
    border-radius: 20px;

    margin-bottom: 50px;
}


.c-scoreboard-popup__button{
    width: 490px;
    height: 110px;

    border: 0;
    border-radius: 20px;

    background-color: #E70000;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
}

.c-scoreboard-popup__button:focus{
    box-shadow: none;
}

.c-scoreboard-popup__button-title{
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 600;
    
    color: white;
}



/* Deathscreen Pop-up */
.c-deathscreen{
    z-index: 1000;
    position: absolute;
    width: 100%;
}

.c-deathscreen-popup{
    /* margin: auto; */
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 1150px;
    height: 130px;

    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.16);
}

.c-deathscreen-popup__text{
    color: #707070;

    text-align: center;
    margin: 0;
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
}

.c-deathscreen-popup__score{
    color: #5B5BFF !important;
}