/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    /*--color-alpha-light: MEDIUMSLATEBLUE;*/
    --color-alpha-light: #F2F2F9;
    --color-alpha: #A3A0FB;
    --color-alpha-x: #A5A4BF;
    --color-alpha-dark: #4C4B6B;
    --color-alpha-x-dark: #43435D;
    --color-alpha-xx-dark: #4d4f5c;


    --color-beta: #3B86FF;
    --color-gamma: #FF6565;

    --color-neutral-light: #fff;
    --color-neutral-dark: #43425D;

    /* Shadows */
    --shadow-neutral: 0 2px 6px rgba(0, 0, 0, .04);
    /* border radius */

    /* transitions */
    --transition-alpha: .1s;

    /*grid*/
    --grid-sidebar-width: 260px;
    --grid-baseline: 5px;

    --grid-header-height: 70px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    /*=1REM*/
    line-height: 1.5;
    font-family: 'Roboto', 'Source Sans Pro', Helvetica, arial, sans-serif;
    color: var(--color-alpha-xx-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    background-image: url("../img/png/Background.png");
    background-size: cover;
    background-position: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2 {
    font-size: 2.3vw;
    color: #7B7BFF;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

/* ::-moz-selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-alpha);
    color: white;
    text-shadow: none;
} */




/*------------------------------------*\
#Objects
\*------------------------------------*/

/*
Objects : Logo
---
Styling logo
*/

.o-logo {
    margin-bottom: 15%;

}







/*------------------------------------*\
#Components
\*------------------------------------*/

/*
Components : Navigation
---
Class used to control and navigate the pages in the one page site
*/

.c-disabled {
    background-color: lightgrey;
}

/*
Components : Page
---
Styling default page
*/

.c-page {
    height: 100vh;

}

.c-app__main {
    width: 90vw;
    height: 100%;


    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-app__start {
    width: 25.5vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}


.c-app__title {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 3vw;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;


}

.c-app__lobby {
    width: 80vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;


}

.c-app__avatar {
    width: 100%;
    height: 81.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    background-color: white;
    border-radius: 10px;
}

.c-app__popup {
    width: 73vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}



/*
    Components: Button
    ---
    style of the buttons
*/

.c-button {
    width: 25.5vw;
    height: 10.37vh;
    margin-bottom: 5%;
    justify-self: center;



    border: 0;
    border-radius: 10px;

    background-color: #FE5499;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
}

.c-button:focus {
    box-shadow: none;
}

.c-button__title {
    font-family: 'Roboto';
    font-size: 2.30vw;
    font-weight: 600;
    color: white;
}

.c-button__content {
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.c-button__icon {
    height: 80%;
    fill: white;
}

.c-buttons {
    width: 75.5vw;

    display: flex;
    justify-content: space-between;
}

/*
Component: Grid
---
Vertical Grid Styling 
 */

.c-vertical-grid {
    display: grid;
    grid-template-rows: repeat(5, 7vh);
    grid-row-gap: 3vh;
    width: 100%;
}

.c-vertical-grid__box {
    height: 7.87vh;
    max-width: 100%;

    border-radius: 10px;

    background-color: #5B5BFF;

    display: grid;
    grid-template-columns: 9.375vw 9.375vw 1fr 9.375vw;
}

.c-horizontal-grid__text {
    font-family: 'Roboto';
    font-size: 1.875vw;
    line-height: 3.33vh;
    color: white;

    margin: 0;
}

.c-horizontal-grid--center {
    display: flex;
    align-items: center;
}


.c-horizontal-grid__place {
    justify-self: center;
}

.c-horizontal-grid__icon {
    justify-self: center;
    height: 75%;
    align-self: center;

}

.c-horizontal-grid__name {
    margin-left: 20%;
}

.c-horizontal-grid__score {
    justify-self: center;
}

/* Vertical grid styling lobbypage*/

.c-vertical-grid-lobby {
    display: grid;
    grid-template-rows: repeat(2, 7vh);
    grid-row-gap: 3vh;
    width: 100%;
}

.c-vertical-grid__box-lobby {
    height: 7.87vh;
    max-width: 100%;

    border-radius: 10px;

    background-color: #5B5BFF;

    display: grid;
    grid-template-columns: 9.375vw 1fr;
}

.c-horizontal-grid__text-lobby {
    font-family: 'Roboto';
    font-size: 1.875vw;
    line-height: 3.33vh;
    color: white;

    margin: 0;
}

.c-horizontal-grid--center-lobby {
    display: flex;
    align-items: center;
}

.c-horizontal-grid__name-lobby {
    margin-left: 2%;
    height: 7.87vh;
}

.c-horizontal-grid__icon-lobby {
    justify-self: center;
    height: 75%;
    align-self: center;
}






/*
Components: Lobby
--- 
Container for Lobby page

*/

.c-lobby {
    width: 100%;
    height: 55vh;

    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    justify-content: space-evenly;
}

/* Horizontal Scroll Styling */

.c-lobbychoice {
    width: 70%;
    height: 48.8vh;

    display: flex;

    overflow-x: auto;
    scroll-snap-type: x proximity;

    padding-top: 1vh;
    padding-bottom: 1vh;
}

.c-lobbychoice__item {
    background-color: #5B5BFF;

    border-radius: 10px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);

    min-width: 16.77vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.c-lobbychoice__item+.c-lobbychoice__item {
    margin-left: 2.08vw;
}

.c-lobbychoice__title {
    font-family: 'Roboto';
    font-size: 1.67vw;
    color: white;

    text-align: center;

    margin: 0;
    margin-bottom: 4.44vh;
}

.c-lobbychoice__players-title {
    font-family: 'Roboto';
    font-size: 1.46vw;
    color: white;

    text-align: center;

    margin: 0;
    margin-bottom: 0.74vh;
}

.c-lobbychoice__players-count {
    font-family: 'Roboto';
    font-size: 2.08vw;
    color: white;

    text-align: center;

    margin: 0;
}

.c-button-add__lobby {
    width: 40px;
    height: 40px;
    background-color: #FFD54A;

    border-radius: 50%;

    font-size: 5vw;
    color: white;

    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}



@media(min-width:1024px) {
    .c-button-add__lobby {
        width: 80px;
        height: 80px;
        background-color: #FFD54A;

        border-radius: 50%;

        font-size: 6vw;
        color: white;

        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

@media(min-width:1200px) {
    .c-button-add__lobby {
        width: 112px;
        height: 112px;
        background-color: #FFD54A;

        border-radius: 50%;

        font-size: 7.5vw;
        color: white;

        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
}

/*
Components: Avatar
--- 
Container for avatar choice 

*/

.c-avatar {
    width: 90%;
    height: 55vh;

    display: flex;
    flex-direction: column;
    justify-content: center;


}

/* Avatar Choice Element */
.c-avatarchoice {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: space-around;
}

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    box-sizing: border-box;
}


.c-avatarchoice__label {
    height: 100px;
    width: 100px;

    margin: 0;
}

.c-avatarchoice__radio:checked+.c-avatarchoice__label div {
    box-shadow: inset 0px 0px 0px 0.5vw rgba(123, 123, 255, 1);
    border-radius: 50%;

    box-sizing: border-box;
}


.c-avatarchoice__image {
    height: calc(((100vh+100vw)/2)/2);
    width: calc(((100vh+100vw)/2)/2);
}

.c-avatar0-icon {
    background-image: url('../img/png/JelleyAvatarIcon.png');
    background-size: cover;
}

.c-avatar1-icon {
    background-image: url('../img/png/StokeleyAvatarIcon.png');
    background-size: cover;
}

.c-avatar2-icon {
    background-image: url('../img/png/SpikeyAvatarIcon.png');
    background-size: cover;
}

.c-avatar3-icon {
    background-image: url('../img/png/VlamAvatarIcon.png');
    background-size: cover;
}


.js-main__score-results {
    top: 0;
    position: absolute;
    z-index: 10000;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}


/* Scoreboard Popup Styling */
.c-scoreboard-popup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-scoreboard-popup__box {
    width: 100%;
    background-color: white;
    height: 70.37vh;

    border-radius: 10px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.c-scoreboard-popup__image {
    width: 58.33vw;
    height: 33.15vh;

    margin-top: -7.41vh;
}

.c-scoreboard-popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-scoreboard-popup__description {
    font-family: 'Roboto';
    font-size: 1.67vw;
    color: #707070;
}

.c-scoreboard-popup__question {
    font-family: 'Roboto';
    font-size: 1.875vw;
    color: #707070;
}

.c-scoreboard-popup__name-input {
    width: 41.67vw;
    height: 7.41vh;

    background-color: #E2E2E2;

    border: none;
    border-radius: 10px;

    margin-bottom: 4.63vh;
}


.c-scoreboard-popup__button {
    width: 25.5vw;
    height: 10.19vh;

    border: 0;
    border-radius: 10px;

    background-color: #E70000;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
}

.c-scoreboard-popup__button:focus {
    box-shadow: none;
}

.c-scoreboard-popup__button-title {
    font-family: 'Roboto';
    font-size: 2.30vw;
    font-weight: 600;

    color: white;
}

/* Deathscreen Pop-up */
.c-deathscreen {
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 0;

    display: flex;
    justify-content: center;
}

.c-deathscreen-popup {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    width: 1150px;
    height: 130px;

    border-radius: 20px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
}

.c-deathscreen-popup__text {
    color: #707070;

    text-align: center;
    margin: 0;
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;
}

.c-deathscreen-popup__score {
    color: #5B5BFF !important;
}

canvas {
    -webkit-transition: -webkit-filter 2s ease;
    transition: -webkit-filter 2s ease;
    transition: filter 2s ease;
    transition: filter 2s ease, -webkit-filter 2s ease;
    width: 100vw;
    height: 100vh;
}

.c-died {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.c-game-overlay {
    color: white;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    padding: 1vw;
    text-align: center;
    pointer-events: none;
}

.c-game-overlay h2,
.c-game-overlay h1,
.c-game-overlay h3 {
    font-weight: 500;
    margin: 0;
    color: white;
}

.c-game-overlay h3 {
    font-size: calc((10vw + 10vh) / 10);
}

.c-game-overlay h2 {
    font-size: calc((10vw + 10vh) / 6);
}

.c-game-overlay h1 {
    font-size: calc((10vw + 10vh) / 4);
}

.c-game-overlay .c-game-overlay__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-game-overlay__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-game-overlay__health .c-game-overlay__heart {
    width: 3vw;
    height: 3vw;
    fill: #FA0F2D;
    stroke: none;
}

.c-game-overlay__health .c-game-overlay__heart--dead {
    width: calc(3vw - 1px);
    height: calc(3vw - 1px);
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-opacity: .2;
    stroke: #000;
    fill: none;
}

.c-game-overlay__countdown {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity .8s ease-in, -webkit-transform .8s ease-in;
    transition: opacity .8s ease-in, -webkit-transform .8s ease-in;
    transition: transform .8s ease-in, opacity .8s ease-in;
    transition: transform .8s ease-in, opacity .8s ease-in, -webkit-transform .8s ease-in;
}

.c-game-overlay__countdown--big {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
}

.c-game-overlay__center {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.u-flex-justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.u-width-1-of-3-vw {
    width: calc(100%/3);
}

.u-hidden {
    display: none !important;
}