/*------------------------------------*\
#FONTS
\*------------------------------------*/
/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
  /* colors */
  /*--color-alpha-light: MEDIUMSLATEBLUE;*/
  /* --color-alpha-light: #F2F2F9;
	  --color-alpha: #A3A0FB;
	  --color-alpha-x: #A5A4BF;
	  --color-alpha-dark: #4C4B6B;
	  --color-alpha-x-dark: #43435D;
	  --color-alpha-xx-dark: #4d4f5c;
	  --color-beta: #3B86FF;
	  --color-gamma: #FF6565; */
  --color-neutral-xx-light: #fff;
  --color-neutral-x-light: #e2e2e2;
  --color-neutral-light: #707070;
  --color-neutral-dark: #43425d;
  --color-neutral-x-dark: #000;
  --color-beta-xx-light: #ffc917;
  --color-beta-x-light: #ff1e7a;
  --color-beta-light: #db44ff;
  --color-beta-dark: #7b7bff;
  --color-beta-x-dark: #5b5bff;
  --color-beta-xx-dark: #fa0f2d;
  --color-beta-xxx-dark: #e70000;
  /* Shadows */
  --shadow-neutral: 0px 5px 6px 0px rgba(0, 0, 0, 0.16);
  --shadow-neutral-inside: inset 0px 0px 0px 0.5vw rgba(255, 255, 255, 1);
  --shadow-neutral-inside-blue: 0px 0px 0px 0.5vw rgba(123, 123, 255, 1);
  /* border radius */
  --radius-basic: 10px;
  --radius-circle: 50%;
  /* transitions */
  --transition-alpha: 0.1s;
  /*grid*/
  --grid-sidebar-width: 260px;
  --grid-baseline: 5px;
  --grid-header-height: 70px;
  /*loader pi*/
  --pi: 3.14159265359;
}

/*------------------------------------*\
  #GENERIC
  \*------------------------------------*/
/*
	  Generic: Page
	  ---
	  Global page styles + universal box-sizing:
  */
html {
  font-size: 16px;
  /*=1REM*/
  line-height: 1.5;
  font-family: 'Roboto', 'Source Sans Pro', Helvetica, arial, sans-serif;
  color: var(--color-alpha-xx-dark);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url("../img/png/Background.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input,
textarea,
label,
*[contenteditable='true'] {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

h2 {
  font-size: calc((10vh + 10vw) / 6.818);
  color: var(--color-beta-dark);
}

/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Customize the background color to match your design.
  */
/* ::-moz-selection {
	  background: var(--color-alpha);
	  color: white;
	  text-shadow: none;
  }
  
  ::selection {
	  background: var(--color-alpha);
	  color: white;
	  text-shadow: none;
  } */
/*------------------------------------*\
  #Objects
  \*------------------------------------*/
/*
  Objects : Logo
  ---
  Styling logo
  */
.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.o-logo {
  margin-bottom: 15%;
  height: 25%;
}

.o-logo_howest {
  width: 100%;
  margin-bottom: 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-logo__mark {
  fill: var(--color-neutral-xx-light);
  height: 2vw;
  /* height: 7vh; */
  display: block;
}

.c-logo__mct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
}

/*------------------------------------*\
  #Components
  \*------------------------------------*/
/*
  Components : Navigation
  ---
  Class used to control and navigate the pages in the one page site
  */
.c-disabled {
  background-color: var(--color-neutral-xx-light);
}

/*
  Components : Page
  ---
  Styling default page
  */
.c-page {
  height: 100vh;
}

.c-app__main {
  width: 90vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-app__start {
  width: 25.5vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.c-app__title {
  font-family: 'Roboto', 'Sans Serif';
  font-size: calc((10vh + 10vw) / 5.357);
  font-weight: 600;
  color: var(--color-neutral-xx-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-app__lobby {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.c-app__avatar {
  width: 100%;
  height: 81.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-neutral-xx-light);
  border-radius: var(--radius-basic);
}

.c-app__popup {
  width: 73vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.c-app__position {
  width: 80vw;
  height: 81.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.c-app__loader {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-app__turnscreen {
  background-color: var(--color-neutral-xx-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: calc((10vh+10vw) / 2.8);
}

.c-app__turnscreen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-app__turnscreen-logo {
  background-image: url("../img/png/TurnScreenIcon.png");
  background-size: cover;
  width: calc(((100vh + 100vw) / 2) / 3);
  height: calc(((100vh + 100vw) / 2) / 3.582431754675073);
  margin-bottom: 10%;
}

.js-fullscreen {
  cursor: pointer;
}

/*
	  Components: Button
	  ---
	  style of the buttons
  */
.c-button {
  width: 25.5vw;
  height: 10.37vh;
  margin-bottom: 5%;
  -ms-grid-column-align: center;
  justify-self: center;
  border: 0;
  border-radius: var(--radius-basic);
  background-color: var(--color-beta-x-light);
  -webkit-box-shadow: var(--shadow-neutral);
  box-shadow: var(--shadow-neutral);
}

.c-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.c-button__title {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 6.818);
  font-weight: 600;
  color: var(--color-neutral-xx-light);
}

.c-button__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-button__icon {
  height: 80%;
  fill: var(--color-neutral-xx-light);
}

.c-buttons {
  width: 75.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*
  Component: Grid
  ---
  Vertical Grid Styling 
   */
.c-vertical-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (7vh)[5];
      grid-template-rows: repeat(5, 7vh);
  grid-row-gap: 3vh;
  width: 100%;
}

.c-vertical-grid__box {
  height: 7.87vh;
  max-width: 100%;
  border-radius: var(--radius-basic);
  background-color: var(--color-beta-x-dark);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9.375vw 9.375vw 1fr 9.375vw;
  grid-template-columns: 9.375vw 9.375vw 1fr 9.375vw;
}

.c-horizontal-grid__text {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 8.333);
  line-height: 3.33vh;
  color: var(--color-neutral-xx-light);
  margin: 0;
}

.c-horizontal-grid--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-horizontal-grid__place {
  -ms-grid-column-align: center;
  justify-self: center;
}

.c-horizontal-grid__icon {
  -ms-grid-column-align: center;
  justify-self: center;
  height: 75%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.c-horizontal-grid__name {
  margin-left: 20%;
}

.c-horizontal-grid__score {
  -ms-grid-column-align: center;
  justify-self: center;
}

/* Vertical grid styling lobbypage*/
.c-vertical-grid-lobby {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (7vh)[2];
      grid-template-rows: repeat(2, 7vh);
  grid-row-gap: 3vh;
  width: 100%;
}

.c-vertical-grid__box-lobby {
  height: 7.87vh;
  max-width: 100%;
  border-radius: var(--radius-basic);
  background-color: var(--color-beta-x-dark);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9.375vw 1fr;
  grid-template-columns: 9.375vw 1fr;
}

.c-horizontal-grid__text-lobby {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 8.333);
  line-height: 3.33vh;
  color: var(--color-neutral-xx-light);
  margin: 0;
}

.c-horizontal-grid--center-lobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-horizontal-grid__name-lobby {
  margin-left: 2%;
  height: 7.87vh;
}

.c-horizontal-grid__icon-lobby {
  -ms-grid-column-align: center;
  justify-self: center;
  height: 75%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/*
  Components: Lobby
  --- 
  Container for Lobby page
  
  */
.c-lobby {
  width: 100%;
  height: 55vh;
  margin-top: 2%;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* Horizontal Scroll Styling */
.c-lobbychoice {
  width: 75%;
  height: 48.8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x proximity;
  scroll-snap-type: x proximity;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.c-lobbychoice__item {
  background-color: var(--color-beta-x-dark);
  border-radius: var(--radius-basic);
  -webkit-box-shadow: var(--shadow-neutral);
  box-shadow: var(--shadow-neutral);
  min-width: 16.77vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-lobbychoice__item + .c-lobbychoice__item {
  margin-left: 2.08vw;
}

.c-lobbychoice__title {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 9.375);
  color: var(--color-neutral-xx-light);
  text-align: center;
  margin: 0;
  margin-bottom: 4.44vh;
}

.c-lobbychoice__players-title {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 10.714);
  color: var(--color-neutral-xx-light);
  text-align: center;
  margin: 0;
  margin-bottom: 0.74vh;
}

.c-lobbychoice__players-count {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 7.5);
  color: var(--color-neutral-xx-light);
  text-align: center;
  margin: 0;
}

.c-lobbychoice__players-position {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 10.714);
  color: var(--color-neutral-xx-light);
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0.74vh;
}

.c-button-add__lobby {
  width: calc(((100vw + 100vh) / 2)  / 7.5);
  height: calc(((100vw + 100vh) / 2) / 7.5);
  background-color: var(--color-beta-xx-light);
  border-radius: var(--radius-basic);
  font-size: calc((10vh + 10vw) / 9.375);
  font-weight: 600;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: var(--color-neutral-xx-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*
  Components: Lobby
  --- 
  Container for Lobby page
  
  */
.c-position {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-position__title {
  color: var(--color-neutral-xx-light);
}

.c-position__options {
  height: 37vh;
  width: 18.23vw;
  background-color: var(--color-beta-xx-light);
  border-radius: var(--radius-basic);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 3vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-neutral-xx-light);
  font-size: calc((10vh + 10vw) / 6.818);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.c-positionchoice__radio:checked + .c-position__label {
  background-color: var(--color-beta-light);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: var(--shadow-neutral);
          box-shadow: var(--shadow-neutral);
}

.c-position__options-icon1 {
  margin-bottom: 10%;
  width: calc(((100vh + 100vw) / 2) / 5.859375);
  height: calc(((100vh + 100vw) / 2) / 10.06711409395973);
  background-image: url("../img/png/HoudingenAfloatPlankhouding.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-position__options-icon2 {
  margin-bottom: 10%;
  width: calc(((100vh + 100vw) / 2) / 12.60504201680672);
  height: calc(((100vh + 100vw) / 2) / 6.578947368421053);
  background-image: url("../img/png/HoudingenAfloatRechtstaand.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-position__options-icon3 {
  margin-bottom: 10%;
  width: calc(((100vh + 100vw) / 2) / 12.29508196721311);
  height: calc(((100vh + 100vw) / 2) / 6.976744186046512);
  background-image: url("../img/png/HoudingenAfloatSquat.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*
  Components: Avatar
  --- 
  Container for avatar choice 
  
  */
.c-avatar {
  width: 90%;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Avatar Choice Element */
.c-avatarchoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.c-avatarchoice__label {
  height: 100px;
  width: 100px;
  margin: 0;
}

.c-avatarchoice__radio:checked + .c-avatarchoice__label div {
  -webkit-box-shadow: var(--shadow-neutral-inside), var(--shadow-neutral-inside-blue);
          box-shadow: var(--shadow-neutral-inside), var(--shadow-neutral-inside-blue);
  border-radius: var(--radius-circle);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.c-avatarchoice__image {
  height: calc(((100vh + 100vw) / 2) / 5);
  width: calc(((100vh + 100vw) / 2) / 5);
}

.c-avatar0-icon {
  background-image: url("../img/png/JelleyAvatarIcon.png");
  background-size: cover;
}

.c-avatar1-icon {
  background-image: url("../img/png/StokeleyAvatarIcon.png");
  background-size: cover;
}

.c-avatar2-icon {
  background-image: url("../img/png/SpikeyAvatarIcon.png");
  background-size: cover;
}

.c-avatar3-icon {
  background-image: url("../img/png/VlamAvatarIcon.png");
  background-size: cover;
}

.js-main__score-results {
  top: 0;
  position: absolute;
  z-index: 10000;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Scoreboard Popup Styling */
.c-scoreboard-popup {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-scoreboard-popup__box {
  width: 100%;
  background-color: var(--color-neutral-xx-light);
  height: 70.37vh;
  border-radius: var(--radius-basic);
  -webkit-box-shadow: var(--shadow-neutral);
  box-shadow: var(--shadow-neutral);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-scoreboard-popup__image {
  width: calc(((100vh + 100vw) /2 ) / 1.339285714285714 );
  height: calc(((100vh + 100vw) /2 ) / 4.24929178470255 );
  margin-top: -7.41vh;
}

.c-scoreboard-popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-scoreboard-popup__description {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 9.375);
  color: var(--color-neutral-light);
}

.c-scoreboard-popup__question {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 7.895);
  color: var(--color-neutral-light);
}

.c-scoreboard-popup__name-input {
  width: 41.67vw;
  height: 7.41vh;
  background-color: var(--color-neutral-x-light);
  border: none;
  border-radius: var(--radius-basic);
  margin-bottom: 4.63vh;
}

.c-scoreboard-popup__button {
  width: 25.5vw;
  height: 10.19vh;
  border: 0;
  border-radius: var(--radius-basic);
  background-color: var(--color-beta-xxx-dark);
  -webkit-box-shadow: var(--shadow-neutral);
  box-shadow: var(--shadow-neutral);
}

.c-scoreboard-popup__button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.c-scoreboard-popup__button-title {
  font-family: 'Roboto';
  font-size: calc((10vh + 10vw) / 6.818);
  font-weight: 600;
  color: var(--color-neutral-xx-light);
}

/* Deathscreen Pop-up */
.c-deathscreen {
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-deathscreen-popup {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-neutral-xx-light);
  width: 60vw;
  height: 12vh;
  border-radius: var(--radius-basic);
  -webkit-box-shadow: var(--shadow-neutral);
  box-shadow: var(--shadow-neutral);
}

.c-deathscreen-popup__text {
  color: var(--color-neutral-light);
  text-align: center;
  margin: 0;
  margin-bottom: 1vh;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: calc((10vw + 10vh) / 9.375);
}

.c-deathscreen-popup__score {
  color: var(--color-beta-x-dark) !important;
}

canvas {
  -webkit-transition: -webkit-filter 2s ease;
  transition: -webkit-filter 2s ease;
  transition: filter 2s ease;
  transition: filter 2s ease, -webkit-filter 2s ease;
  width: 100vw;
  height: 100vh;
}

.c-died {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.c-game-overlay {
  color: var(--color-neutral-xx-light);
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  padding: 1vw;
  text-align: center;
  pointer-events: none;
}

.c-game-overlay h2,
.c-game-overlay h1,
.c-game-overlay h3 {
  font-weight: 500;
  margin: 0;
  color: var(--color-neutral-xx-light);
}

.c-game-overlay h3 {
  font-size: calc((10vw + 10vh) / 10);
}

.c-game-overlay h2 {
  font-size: calc((10vw + 10vh) / 6);
}

.c-game-overlay h1 {
  font-size: calc((10vw + 10vh) / 4);
}

.c-game-overlay .c-game-overlay__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-game-overlay__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-game-overlay__health .c-game-overlay__heart {
  width: 3vw;
  height: 3vw;
  fill: var(--color-beta-xx-dark);
  stroke: none;
}

.c-game-overlay__health .c-game-overlay__heart--dead {
  width: calc(3vw - 1px);
  height: calc(3vw - 1px);
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke-opacity: 0.2;
  stroke: var(--color-neutral-x-dark);
  fill: none;
}

.c-game-overlay__countdown {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.8s ease-in, -webkit-transform 0.8s ease-in;
  transition: opacity 0.8s ease-in, -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in, opacity 0.8s ease-in;
  transition: transform 0.8s ease-in, opacity 0.8s ease-in, -webkit-transform 0.8s ease-in;
}

.c-game-overlay__countdown--big {
  -webkit-transform: scale(5);
  transform: scale(5);
  opacity: 0;
}

.c-game-overlay__center {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.u-flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.u-width-1-of-3-vw {
  width: calc(100% / 3);
}

.u-hidden {
  display: none !important;
}

.c-center {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*Game Loader*/
.c-loader {
  --loader-viewbox: 50px;
  --circle-stroke-width: 4px;
  --circle-center: calc(var(--loader-viewbox) / 2);
  --circle-radius: calc(var(--loader-viewbox) / 2 - var(--circle-stroke-width) / 2);
  --circle-circumference: calc(var(--circle-radius) * 2 * var(--pi));
  --circle-gap: 20px;
  --circle-circumference-gap: calc(var(--circle-circumference) - var(--circle-gap));
  --animation-duration: 1.25s;
  width: 10vw;
}

.c-loader__circle {
  stroke: var(--color-neutral-xx-light);
  fill: transparent;
  stroke-linecap: round;
  stroke-width: var(--circle-stroke-width);
  stroke-dasharray: var(--circle-gap), var(--circle-circumference-gap);
  stroke-dashoffset: 0;
  r: var(--circle-radius);
  cx: var(--circle-center);
  cy: var(--circle-center);
  -webkit-animation: rotateCircle calc(var(--animation-duration) + 0.25s) linear infinite, strokeCircle var(--animation-duration) infinite;
  animation: rotateCircle calc(var(--animation-duration) + 0.25s) linear infinite, strokeCircle var(--animation-duration) infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.c-loader__avatar {
  background: url("../img/png/JelleyAvatarIcon.png");
  background-size: cover;
  width: 7vw;
  height: 7vw;
}

@-webkit-keyframes rotateCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes strokeCircle {
  50% {
    stroke-dasharray: var(--circle-circumference-gap), var(--circle-gap);
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: var(--circle-gap), var(--circle-circumference-gap);
    stroke-dashoffset: calc(var(--circle-circumference) * -1);
  }
}

@keyframes strokeCircle {
  50% {
    stroke-dasharray: var(--circle-circumference-gap), var(--circle-gap);
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: var(--circle-gap), var(--circle-circumference-gap);
    stroke-dashoffset: calc(var(--circle-circumference) * -1);
  }
}
/*# sourceMappingURL=screen.css.map */